/**
* -----------------------------------------------------------------------
*                            Media Queries Var
* -----------------------------------------------------------------------
*/
/**
* -----------------------------------------------------------------------
*                         Media Queries Var - End
* -----------------------------------------------------------------------
*/
/**
* -----------------------------------------------------------------------
*                              Style Generic
* -----------------------------------------------------------------------
*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none !important; }

.row {
  margin-left: 0;
  margin-right: 0; }

/**
* -----------------------------------------------------------------------
*                            Style Generic End
* -----------------------------------------------------------------------
*/
